<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Example 1</title>
    <link rel="stylesheet" href="asset('css/style_PDF.css')" media="all" />
  </head>
  <body>
    <header class="clearfix" >

      <img  class="element" src="asset('img/demo.png')" > 
      <h1>INVOICE 3-2-1</h1>
      <div id="company" class="clearfix">
        <div>Akram el kouzouz   </div>
        <div>455 Foggy Heights  ,<br /> AZ 85004, US   </div>
        <div>admin user tele   </div>
        <div><a href="mailto:company@example.com">Admin@example.com   </a></div>
      </div>
      {% set project = reconciliations|first.project %}
      <div id="project">
            <div><span>PROJECT</span> {{project.name}}</div>
            <div><span>Owner</span> {{project.owner}} </div>
            <div><span>BUDGET</span> {{ project.budget }} </div>        
            <div><span>START DATE</span> {{project.startDate|date('M d, y')}} </div>
            <div><span>END DATE</span> {{project.endDate|date('M d, y')}} </div>
        </div>


    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th class="service">RECEIPT N°</th>
            <th class="service">DRIVER</th>
            <th class="desc">LICENCE PLATE</th>
            <th>GAZ STATION</th>
            <th>DEPARTMENT</th>
            <th>KILOMETRAGE (KMs)</th>
            <th>AMOUNT (DHs)</th>
            <th>LITRES (LTRs)</th>
          </tr>
        </thead>
        <tbody>
            {% if reconciliations is null or reconciliations is empty %}
                <tr>
                    <td>No Reconciliations Exist.</td>
                </tr>
            {% endif %}
            {% for recon in  reconciliations %}
          <tr>
            <td class="service">{{recon.receiptNum}}</td>
            <td class="desc"> {{ recon.driver.firstName }} {{recon.driver.lastName }} </td>
            <td class="unit"> {{ recon.vehicle.matricule }} </td>
            <td class="qty"> {{ recon.department.name }} </td>
            <td class="total"> {{recon.kilometrage}} </td>
            <td class="total"> {{recon.totalAmount}} </td>
            <td class="total"> {{recon.totalLitres}} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="notices">
        <div>NOTICE:</div>
        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
      </div>
    </main>
    <footer>
      Invoice was created on a computer and is valid without the signature and seal.
    </footer>
  </body>
</html>