<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Print Payment</title>
    <!-- <link rel="stylesheet" href="{{ asset('css/style_PDF.css') }}" media="all" /> -->
    <style>
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }

      a {
        color: #5D6975;
        text-decoration: underline;
      }

      body {
        position: relative;
        width: 100%;  
        height: 100%; 
        margin: 0 auto; 
        color: #001028;
        background: #ffffff; 
        font-family: Arial, sans-serif; 
        font-size: 12px; 
        font-family: Arial;
      }

      header {
        padding: 10px 0;
        margin-bottom: 30px;
      }

      #logo {
        text-align: center;
        margin-bottom: 10px;
      }

      #logo img {
        width: 90px;
      }
      
      .element {
          opacity: 0.1;
          margin: 0px 0 -224px 0;
          }

      h1 {
        border-top: 1px solid  #5D6975;
        border-bottom: 1px solid  #5D6975;
        color: #5D6975;
        font-size: 2.4em;
        line-height: 1.4em;
        font-weight: normal;
        text-align: center;
        margin: -12px 0 20px 0;
        background: url(dimension.png);
      }

      #project {
        float: left;
      }

      #project span {
        color: #5D6975;
        text-align: left;
        width: 100px;
        margin-right: 10px;
        display: inline-block;
        font-size: 0.8em;
      }

      #company {
        float: right;
        /* text-align: right; */
      }

      #project div,
      #company div {
        white-space: nowrap;        
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
        border: 1px;
      }

      table tr:nth-child(2n-1) td {
        background: #F5F5F5;
      }

      table th,
      table td {
        text-align: center;
      }

      table th {
        padding: 5px 20px;
        color: #5D6975;
        border-bottom: 1px solid #C1CED9;
        white-space: nowrap;        
        font-weight: normal;
      }
      

      table .service,
      table .desc {
        text-align: left;
      }

      table td {
        padding: 5px;
        text-align: right;
      }

      table td.service,
      table td.desc {
        vertical-align: top;
        text-align: right;
      }

      table td.unit,
      table td.qty,
      table td.total {
        font-size: 10px;
      }

      table td.grand {
        border-top: 1px solid #5D6975;;
      }

      #notices .notice {
        color: #5D6975;
        font-size: 1.2em;
      }

      footer {
        color: #5D6975;
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 0;
        border-top: 1px solid #C1CED9;
        padding: 8px 0;
        text-align: center;
      }
      .noPayment{
        font-size: 16px;
        color: red;
        text-align: center;
        vertical-align: middle;
      }
      .title{
        text-align: left;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <header class="clearfix" >

      <!-- Image  -->
      <!-- End of image -->
      <h1>PAYMENT SUPPLIER INVOICE</h1>
      <div id="company" class="clearfix">
        <div>Akram el kouzouz   </div>
        <div>455 Foggy Heights  ,<br /> AZ 85004, US   </div>
        <div>admin user tele   </div>
        <div><a href="mailto:company@example.com">Admin@example.com   </a></div>
      </div>
      <div id="project">
        <div><span >PROJECT: </span> {{project.name}}</div>
        <div><span>SUPPLIER: </span> {{ supplier.firstName }}&nbsp;{{supplier.lastName}}</div>
        <div><span>EMAIL: </span> {{ supplier.email }}&nbsp;</div>
        <div><span>PHONE NUMBER: </span> {{ supplier.phoneNumber }}&nbsp;</div>
        
      </div>
      <div class="driver">
      </div>


    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th class="service" style="width: 100px;">VEHICLE</th>
            <th style="text-align: right;">PRICE/DAYS</th>
            <th style="text-align: right;">START DATE</th>
            <th style="text-align: right;">END DATE</th>
            <th style="text-align: right;">DAYS</th>
            <th style="text-align: right;">AMOUNT</th>
            <th style="text-align: right;">PAYMENT</th>
          </tr>
        </thead>
        <tbody>
          {% set totalPriceToPay = 0 %}
          {% set totalPricePaid = 0 %}
          {% for vehicle, paymentsSupplier in data %}
            {% set payment = paymentsSupplier|first.payment %}
            {% set rent = paymentsSupplier|first.allocate %}
            {% set totalPriceToPay = totalPriceToPay + payment.totalPriceToPayToSupplier %}
            {% set diffDates = date(rent.endDate).diff(date(rent.startDate))|date('%d') + 1 %}
            <tr>
              <td colspan="" style="text-align: left; background:#61585834; " ><b>{{ vehicle }}</b> </td>
              <td style="background:#61585834; ">
                {{ rent.pricePerDay }} DHs
              </td>
              <td style="background:#61585834; " >
                {{ rent.startDate|date('M d/m/y') }}
              </td>
              <td style="background:#61585834; " >
                {{ rent.endDate|date('M d/m/y') }}
              </td>
              <td style="background:#61585834; "> 
                {{ diffDates }} Days
              </td>
              <td style="background:#61585834; ">{{ diffDates * rent.pricePerDay }} DHs</td>
              <td>0 DHs</td>
            </tr>
            {% for paymentSupplier in paymentsSupplier %}
            {% set totalPricePaid = totalPricePaid + paymentSupplier.price %}
              <tr>
                <td colspan="6" style="text-align: left; padding-left: 50px;">
                    {{ paymentSupplier.datePayment|date('M d/m/y') }}
                </td>
                <td>
                  {{ paymentSupplier.price }} DHs
                </td>
              </tr>
            {% endfor %}
            {% endfor %}
            <tr><td colspan="7" ></td></tr>
            <tr>
                <td colspan="5"></td>
                <td>{{totalPriceToPay }}</td>
                <td>{{ totalPricePaid }}</td>
            </tr>
            
            <tr>
              <td colspan="5" style="text-align: center;"><b>REMAINING</b></td>
              <td colspan="2" style="text-align: center;padding-left: 80px;" > {{totalPriceToPay - totalPricePaid }}</td>
            </tr>
          </tbody>
        </table>
      <br>
      <!-- <div id="notices">
        <div>NOTICE:</div>
        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
      </div> -->
    </main>
    <footer>
      Invoice was created on a computer and is valid without the signature and seal.
    </footer>
  </body>
</html>