{% extends 'base.html.twig' %}

{% block header %}
    Fuel Invoices
{% endblock %}
{% block header_annex %}
    <li><a href="index.html">Home</a></li>
    <li class="active">Fuel Invoices</li>
{% endblock %}

{% block left_column %}
    <a href="{{path('makeAsFactured')}}" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Create Invoice</a>
    <a href="{{path('invoice_index')}}" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Show all Invoices</a>
{% endblock %}

{% block center_column %}
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Invoices</h3>
    </div>
    <div class="panel-body">
    {% if app.session.flashBag.has('invoiceMsg') %}
        <div class="alert alert-success error">
            {% for msg in app.session.flashBag.get('invoiceMsg') %}
                <strong>{{ msg }}</strong>
            {% endfor %}
        </div>
    {% endif %}
        <a title="Add new Invoice" href="{{path('makeAsFactured')}}" class="btn-group-justified btn-primary btn-xs ">ADD NEW </a>
    </div>
    <div class="panel panel-flat">

        <div class="panel-body">

            <table class="table datatable-responsive table-bordered table-hover datatable-highlight">
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Liters</th>
                    <th>Is Paid</th>

                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in invoices %}
                    <tr>
                        <td>{{ invoice.id }}</td>
                        <td>{% if invoice.createdAt %}{{ invoice.createdAt|date('M d/m/y') }}{% endif %}</td>
                        <td>{{ invoice.totalAmounts }} DHs</td>
                        <td>{{ invoice.totalLitres }} Ls</td>
                        <td>
                            <span class="label {% if invoice.isPaid %}label-success{% else %}label-danger{% endif %}">
                                {% if invoice.isPaid %}Yes{% else %}No{% endif %}</span>
                        </td>


                        <td class="text-center">
                            <div class="">
                                <a title="Show the invoice" href="{{ path('invoice_show', { 'id': invoice.id }) }}"
                                   class="btn btn-info"><i class="icon-eye position-left"></i>Details</a>
                                {% if invoice.isPaid == false %}
                                    <a title="Mark as Paid" onclick="return confirm('Are you sure that you want mark this invoice as paid?');" href="{{ path('invoice_as_paid', { 'id': invoice.id }) }}"
                                       class="btn btn-default"><i
                                                class="icon-checkmark3 position-left"></i>Paid</a>
                                {% endif %}
                                <a title="Download Invoice" target="_blank" href="{{ asset('invoice/pdf/'~invoice.excelFile~'.pdf') }}"
                                   class="btn btn-success"><i class="icon-download position-left"></i>Download</a>
                                <a title="Delete"
                                   onclick="return confirm('Are you sure that you want delete this invoice?');"
                                   href="{{ path('invoice_delete', { 'id': invoice.id }) }}"
                                   class="btn btn-danger"><i class="icon-trash position-left"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
