{% extends 'vehicle_type_form/vehicleTypeBase.html.twig' %}
{% block center_column %}
    {% block path %}
        {#{{ parent()}} / <a href="#" class="path">Details</a>#}
    {% endblock %}
    <div class="panel-body">

    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">{{ vehicleType.name }} Details</h3>
    </div>


    <div class="table-responsive">
        <table class="table table-striped table-hover" cellpadding="0" cellspacing="0">
                        <tr>
                            <th>
                            <th class="full" colspan="2">Vehicle Type Details</th>
                            </th>
                        </tr>
                        <tr>
                            <td class="first" width="172"><strong>Name of Type</strong></td>
                            <td class="last">{{ vehicleType.name }}</td>
                        </tr>
                        <tr class="bg">
                            <td class="first"><strong>Vehicles</strong></td>
                            <td class="last">

                                {#
                                 erreur dans la path
                                #}
                            {#{% if vehicleType.vehicles and vehicleType.vehicles is not empty %}
                            <a href="{{ path('showVehiclesByType', {'id': vehicleType.id})}}" class="link">Show Vehicles</a>
                            {% else %}
                            <a href="{{ path('addByType', {'idType': vehicleType.id}) }}" class="link">Add Vehicle</a>
                            {% endif %}#}
                            </td>
                        </tr>
                        <tr class="bg">
                            <td class="first"><strong>Drivers</strong></td>
                            <td class="last">
                            {% if vehicleType.drivers %}
                            {# <a href="{{ path('showDriversByType', {'id': vehicleType.id})}}" class="link">Show Drivers</a> #}
                            array in path twig
                            {% else %} <a href="{{path('addDriver')}}" title="Add new Driver for this Type">Add</a>
                            {% endif %}
                            </td>
                        </tr> 
                        </table>
    </div>
        <div class="btn-group btn-group-justified">
            <a title="Show All Missions" href="{{ path('allTypes') }}" class="btn btn-success btn-xs glyphicon glyphicon-arrow-left"> Back </a>
            {% if connectedUser.role == 1 %}
            <a title="Edit This Mission" href="{{ path('editType', { 'id' : vehicleType.id }) }}" class="btn btn-primary btn-xs glyphicon glyphicon-pencil"> EDIT </a>
            {% endif %}
        </div>
    </div>

{% endblock %}