{% extends 'base.html.twig' %}
{% block vehicleType_class %}class="active"{% endblock %}
{% block header %}
    Vehicles Types
{% endblock %}
{% block header_annex %}
    <li><a href="index.html">Home</a></li>
    <li class="active">Vehicles Types</li>
{% endblock %}

{% block left_column %}
    <a href="{{path('addType')}}"  class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Add Vehicle Types</a>
    <a href="/vehicle"  class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Show all Types</a>
{% endblock %}

{% block center_column %}
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Vehicles Types</h3>
    </div>
        {% block path %}
        {#<a class="path" href="/vehicle">Vehicles Types</a>#}
        {% endblock %}

    <div class="panel-body">
    <div class="error">
            <strong>{% if app.session.flashBag.has('typeSuccess') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('typeSuccess') %}
                    {{ msg }}
                {% endfor %}
            </div>{% endif %}</strong>
        </div>
    <a title="Add new Type" href="/vehicle/type/add" class="btn-group-justified btn-primary btn-xs " > ADD NEW </a>

    <br>
    <div class="table-responsive">


        <table class="table table-striped table-hover">
        {% if types is null or types is empty  %}
                <tr class="bg">
                    <td class="first" style="text-align:center;font-weight: bold;">There is no Types add some <a href="{{ path('addType')}}" style="color:red;text-decoration: underline black;">here</a></td>
                </tr>
            {% else %}
            <tr>
                <th class="first">Name</th>
                <th class="first">Vehicles</th>
                <th class="last">Actions</th>
            </tr>
            {% for type in types %}
            <tr class="bg">
                <td class="first">{{ type.name }}</td>
                <td class="first">
                    {#
                    Add fonction find by Vehicles by type
                    Add Vehicle deja existante Modifier la path
                    #}
               {# {% if type.vehicles and type.vehicles is not empty() %}
                <a href="{{ path('showVehiclesByType', {'idType': type.id}) }}" class="link">Show Vehicles</a>
                {% else %} Add a Vehicle{% endif %}#}
                </td>
                <td>
                    <div class="btn-group btn-sm">
                        <a class="btn btn-info" href="{{ path('showVehicleType', {'id': type.id}) }}">Details</a>
                        <a class="btn btn-default" href="{{ path('editType', {'id': type.id}) }}" onclick="return confirm('Are u sure, You want to edit this type of vehicle?')">Edit</a>
                        {% if connectedUser.role == 1 %}
                        <a  class="btn btn-danger" href="{{ path('deleteType', {'id': type.id}) }}" onclick="return confirm('Are u sure, You want to delete this type of vehicle?')">Delete</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
        {% if types is not empty and types is not null %}
            <div class="first"><a class="btn-group-justified btn-danger btn-xs" href="{{ path('deleteAllTypes') }}" onclick="return confirm('Are u sure, You want to delete all Vehciles types? Note that all vehicles will be deleted!')" >Delete All</a></div>
        {% endif %}
    </div>
{% endblock %}