{% extends 'driver/driverBase.html.twig' %}

{% block center_column %}
{% block path %}
   {# {{ parent()}} / <a href="#" class="path"> Details</a>#}
{% endblock %}

<div class="panel-body">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">{{ driver.firstName }}'s Details</h3>
    </div>
    <br>

    <div class="table-responsive">
        <table class="table table-striped table-hover" cellpadding="0" cellspacing="0">

                    <tr class="bg">
                        <td class="first" width="172"><strong>First Name</strong></td>
                        <td class="last">{{ driver.firstName }}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Last Name</strong></td>
                        <td class="last">{{ driver.lastName }}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>CIN</strong></td>
                        <td class="last">{{ driver.cin }}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Licence Number</strong></td>
                        <td class="last">{{driver.licenceNumber}}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Vehicle Type</strong></td>
                        <td class="last">
                        {% for type in driver.vehicleType %}
                            <strong style="color:red;">{{type.name}} &nbsp;</strong>
                        {% endfor %}
                        </td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Salaire</strong></td>
                        <td class="last">{{driver.salaire}}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Period Of Travel</strong></td>
                        <td class="last">{% if driver.periodOfTravel == 1 %}Daily
                        {% elseif driver.periodOfTravel == 2 %}Weekly
                        {% elseif driver.periodOfTravel == 3 %}Monthly
                        {% else %}Not Specified {% endif %}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Phone Number</strong></td>
                        <td class="last">{{driver.numberPhone}}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Payment</strong></td>
                        <td class="last">{% if driver.paymentDrivers %}Add{% else %}More details{% endif %} </td>
                    </tr>
                    <tr class="bg">
                    <td class="first"><strong>Mission</strong></td>
                        <td class="last">{% if driver.missions and driver.missions is not empty %}
                        <a href="{{path('showMissionsByDriver', {'idDriver': driver.id})}}">More details</a>
                        {% else %}
                        <a href="{{path('addMission', {'idDriver':driver.id})}}">Add</a>
                        {% endif %} </td>
                    </tr> 
                    </table>
    </div>
    <div class="btn-group btn-group-justified">
        <a title="Show All Drivers" href="{{ path('allDrivers') }}" class="btn btn-success btn-xs glyphicon glyphicon-arrow-left"> Back </a>
        {% if connectedUser.role == 1 %}
        <a title="Edit This Driver" href="{{ path('editDriver', { 'id' : driver.id }) }}" class="btn btn-primary btn-xs glyphicon glyphicon-pencil"> EDIT </a>
        {% endif %}
    </div>
</div>

{% endblock %}
