{% extends 'supplier/supplierBase.html.twig' %}
{% block center_column %}

    {% block path %}
    {#{{ parent()}} / <a href="#" class="path"> Details</a>#}
    {% endblock %}

<div class="panel-body">

    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">{{ supplier.firstName}} Details</h3>
    </div>

    <br>

            <div class="table-responsive">
                <table class="table table-striped table-hover" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>
                                <th class="full center-block" colspan="2">Supplier Details</th>
                        </th>
                    </tr>
                    <tr class="bg">
                        <td class="first" width="172"><strong>First Name</strong></td>
                        <td class="last">{{ supplier.firstName}}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Last Name</strong></td>
                        <td class="last">{{ supplier.lastName }}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Email</strong></td>
                        <td class="last">{{ supplier.email }}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Phone Number</strong></td>
                        <td class="last">{{ supplier.phoneNumber }}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Address</strong></td>
                        <td class="last">{{ supplier.adress }}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Rents Info</strong></td>
                        <td class="last"><a href="{{path('showRentsBySupplier', {'id':supplier.id})}}" title="More Details">
                        {% if supplier.allocates and supplier.allocates is not empty %} More Details
                        {% else %}Add {% endif %}
                        </a></td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Payment Info</strong></td>
                        <td class="last">{% if supplier.paymentSupplier and supplier.paymentSupplier is not empty %}More Details{% else %} Add {% endif %}</td>
                    </tr>
                    </table>
                    <p>&nbsp;</p>
                <div class="btn-group btn-group-justified">
                    <a title="Show All Suppliers" href="{{ path('allSuppliers') }}"class="btn btn-success btn-xs glyphicon glyphicon-arrow-left"> Back </a>
                    <a title="Edit This Supplier" href="{{ path('editSupplier', { 'id' : supplier.id }) }}"class="btn btn-primary btn-xs glyphicon glyphicon-pencil"> EDIT </a></td>
                </div>
            </div>
</div>

{% endblock %}
