{% extends 'base.html.twig' %}


{% block header %}
    <li><span><span><a href="{{ path('allProjects') }}">Projects</a></span></span></li>
    <li><span><span><a href="{{path('allMissions')}}">Missions</a></span></span></li>
    <li><span><span><a href="{{path('allRents')}}">Rent</a></span></span></li>
    <li class="active"><span><span><a href="{{path('allSuppliers')}}">Suppliers</a></span></span></li>
    <li><span><span><a href="{{path('allDepartments')}}">Departments</a></span></span></li>
    <li><span><span><a href="{{path('allDrivers')}}">Drivers</a></span></span></li>
    <li><span><span><a href="{{path('allVehicles')}}">Vehicles</a></span></span></li>
    <li><span><span><a href="{{path('allTypes')}}">Vehicles Type</a></span></span></li>
    <li ><span><span><a href="{{path('allPayments')}}">Payments</a></span></span></li>
    {% if connectedUser.role == 1 %}
    <li><span><span><a href="{{path('allUsers')}}">Users</a></span></span></li>
    {% endif %}
{% endblock %}
{% block left_column %}
    <h3>SUPPLIERS MANAGMENT</h3>
    <a href="{{path('addSupplier')}}" class="link">Create Supplier</a>
    <a href="/supplier" class="link">Show all Suppliers</a>
    <a href="#" class="link">Search</a>
{% endblock %}
{% block center_column %}
<div class="top-bar"> <a title="Add new Supplier" href="/supplier/new" class="button">ADD NEW </a>
        <h1>Contents</h1><br>
        <div class="breadcrumbs">
        {% block path %}
        <a class="path" href="/supplier">Suppliers</a>
        {% endblock %}
        </div>
    </div>
    <br>
    <hr>
    <div class="error"> 
            <strong>{% if app.session.flashBag.has('supplierSuccess') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('supplierSuccess') %}
                    {{ msg }}
                {% endfor %}
            </div>{% endif %}</strong>
        </div>
    <br>
    <div class="table"> 
    <img src="{{ asset('img/bg-th-left.gif') }}" width="8" height="7" alt="" class="left" /> <img src="{{ asset('img/bg-th-right.gif') }}" width="7" height="7" alt="" class="right" />
        <table class="listing" cellpadding="0" cellspacing="0">
        {% if suppliers is null or suppliers is empty  %}
                <tr class="bg">
                    <td class="first" style="text-align:center;font-weight: bold;">There is no Supplier add One <a href="{{ path('addSupplier')}}" style="color:red;text-decoration: underline black;">here</a></td>
                </tr>
            {% else %}
            <tr>
                <th class="first">First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th class="last">Actions</th>
            </tr>
            {% for supplier in suppliers %}
            <tr class="bg">
                <td class="first">{{ supplier.firstName }}</td>
                <td class="first">{{ supplier.lastName }}</td>
                <td class="first">{{ supplier.email }}</td>
                <td>
                <a href="{{ path('deleteSupplier', {'id': supplier.id}) }}"><img src="{{ asset('img/hr.gif') }}" width="16" height="16" title="Delete" /></a>
                <a href="{{ path('editSupplier', {'id': supplier.id}) }}"><img src="{{ asset('img/edit-icon.gif') }}" width="16" height="16" title="Edit" /></a>
                <a href="{{ path('showSupplier', {'id': supplier.id}) }}"><img src="{{ asset('img/add-icon.gif') }}" width="16" height="16" title="Details" /></a>            
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
        <br>
        {% if suppliers is not empty and suppliers is not null %}
            <div class="first"><a class="button" href="{{ path('deleteAllSuppliers') }}" onclick="return confirm('Are u sure, You want to delete all Suppliers? Note That all payments and rents infos will be deleted!')" >Delete All</a></div>
        {% endif %}
    </div>
{% endblock %}
