{% extends 'base.html.twig' %}


{% block header %}
    <li><span><span><a href="{{ path('allProjects') }}">Projects</a></span></span></li>
    <li><span><span><a href="{{path('allMissions')}}">Missions</a></span></span></li>
    <li class="active"><span><span><a href="{{path('allRents')}}">Rents</a></span></span></li>
    <li><span><span><a href="{{path('allSuppliers')}}">Suppliers</a></span></span></li>
    <li><span><span><a href="{{path('allDepartments')}}">Departments</a></span></span></li>
    <li><span><span><a href="{{path('allDrivers')}}">Drivers</a></span></span></li>
    <li><span><span><a href="{{path('allVehicles')}}">Vehicles</a></span></span></li>
    <li><span><span><a href="{{path('allTypes')}}">Vehicles Type</a></span></span></li>
    <li ><span><span><a href="{{path('allPayments')}}">Payments</a></span></span></li>
    {% if connectedUser.role == 1 %}
    <li><span><span><a href="{{path('allUsers')}}">Users</a></span></span></li>
    {% endif %}
{% endblock %}
{% block left_column %}
    <h3>RENTS MANAGMENT</h3>
    <a href="{{path('addRent')}}" class="link">Create Rent</a>
    <a href="/rent" class="link">Show all Rents</a>
    <a href="#" class="link">Search</a>
{% endblock %}
{% block center_column %}
<div class="top-bar"> <a title="Add new Rent" href="/rent/new" class="button">ADD NEW </a>
        <h1>Contents</h1><br>
        <div class="breadcrumbs">
        {% block path %}
        <a class="path" href="/rent">Rents</a>
        {% endblock %}
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="table"> 
    <img src="{{ asset('img/bg-th-left.gif') }}" width="8" height="7" alt="" class="left" /> <img src="{{ asset('img/bg-th-right.gif') }}" width="7" height="7" alt="" class="right" />
        <table class="listing" cellpadding="0" cellspacing="0">
        {% if Rents is empty or Rents is null %}
                <tr class="bg">
                    <td class="first" style="text-align:center;font-weight: bold;">There is no Rent Information add one <a href="/rent/new" style="color:red;text-decoration: underline black;">here</a></td>
                </tr>
            {% else %}
            <tr>
                <th class="first">Start Date</th>
                <th>End Date</th>
                <th>Period</th>
                <th>Price</th>
                <th class="last">Actions</th>
            </tr>
            {% for Rent in Rents %}
            <tr class="bg">
                <td class="first">{{ Rent.startDate|date('d-m-Y') }}</td>
                <td class="first">{{ Rent.endDate|date('d-m-Y') }}</td>
                <td class="first">{% if Rent.period == 1 %}Daily{% elseif Rent.period == 2 %}Weekly{% else %}Monthly{% endif %}</td>
                <td class="first">{{ Rent.price}} DH</td>
                <td>
                    <a href="{{ path('deleteRent', {'id': Rent.id}) }}"><img src="{{ asset('img/hr.gif') }}" width="16" height="16" title="Delete" /></a>
                    <a href="{{ path('editRent', {'id': Rent.id}) }}"><img src="{{ asset('img/edit-icon.gif') }}" width="16" height="16" title="Edit" /></a>
                    <a href="{{ path('showRent', {'idRent': Rent.id}) }}"><img src="{{ asset('img/add-icon.gif') }}" width="16" height="16" title="Details" /></a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
        <br>
        {% if Rents is not empty and Rents is not null %}
            <div class="first"><a class="button" href="{{ path('deleteAllRents') }}" onclick="return confirm('Are u sure, You want to delete all Rents?')" >Delete All</a></div>
        {% endif %}
    </div>
{% endblock %}
