{% extends 'rent/rentBase.html.twig' %}
{% block center_column %}

{% block path %}
    {{ parent()}} / <a href="#" class="path"> Details</a>
{% endblock %}
<hr><br>
            <div class="table"> 
                <img src="{{ asset('img/bg-th-left.gif') }}" width="8" height="7" alt="" class="left" />
                <img src="{{ asset('img/bg-th-right.gif') }}" width="7" height="7" alt="" class="right" />
                    <table class="listing form" cellpadding="0" cellspacing="0">
                    <tr>
                        <th class="full" colspan="2">Rent Details</th>
                    </tr>
                    <tr class="bg">
                        <td class="first" width="172"><strong>Created At</strong></td>
                        <td class="last">{{ rent.createdAt|date('d-m-Y H:i') }}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Start Date</strong></td>
                        <td class="last">{{ rent.startDate|date('d-m-Y')}}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>End Date</strong></td>
                        <td class="last">{{ rent.endDate|date('d-m-Y')}}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Period</strong></td>
                        <td class="last">{% if rent.period == 1 %}Daily{% elseif rent.period == 2 %}Weekly{% else %}Monthly{% endif %}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Price for period</strong></td>
                        <td class="last">{{ rent.price }}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Supplier</strong></td>
                        <td class="last"><a class="link" href="{{ path('showSupplier', {'id':rent.supplier.id}) }}">{{ rent.supplier.firstName }}</a></td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>With driver</strong></td>
                        <td class="last">{% if rent.withDriver %}Yes{% else %} No {% endif %}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Vehicle</strong></td>
                        <td class="last"><a href="{{path('showVehicle', {'id':rent.vehicle.id})}}" title="More Details">{{ rent.vehicle.matricule ~ ' | ' ~ rent.vehicle.brand ~ ' | ' ~ rent.vehicle.type.name }}</a></td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Mission</strong></td>
                        <td class="last">
                        {% if rent.mission is null %}Add
                        {% else %}
                        <a href="{{path('showMission', {'id': rent.mission.id})}}" class="link" title="More Details">More details</a>    
                        {% endif %} </td>
                    </tr>
                    <tr class="bg">
                    <td class="first"><strong>Payment Supplier</strong></td>
                        <td class="last">{% if rent.paymentSuppliers is not empty() %}More details{% else %}Add{% endif %} </td>
                    </tr>
                    </table>
    <br>
                    <a title="Show All Rents" href="{{ path('allRents') }}" class="button">Back </a>
                    <a title="Edit This Rent" href="{{ path('editRent', { 'id' : rent.id }) }}" class="button">EDIT </a></td>
                </div>

{% endblock %}
