{% extends 'mission/missionBase.html.twig'  %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block center_column %}
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title"><a title="Add new Mission" href="{{path('addMission')}}" class="button">ADD NEW
            </a></h3>
    </div>
{% block path %}
{{ parent() }}



{% endblock %}

    <div class="panel-body">

        <div class="error">
            <strong>{% if app.session.flashBag.has('driverError') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('driverError') %}
                    {{ msg }}
                {% endfor %}
            </div>{% endif %}</strong>
        </div>
    <div class="container-fluid table-responsive">
        <h3 class="panel-title">
            <a class="btn-info btn-xs" href="#"> Step One: Create the driver</a></h3>
        <br>
        <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
      </div>
    </div>
  </div>
<br>
        <table class="listing form table table-striped table-hover" cellpadding="0" cellspacing="0">
<tr class='first'>
    <th colspan="12" class='fa-align-right text-capitalize text-center full'> <span id="search" style="cursor: pointer;" >Search for existing driver</span></th></tr>
    <div id="search_form" style="display: none;">
        <tr class='first'>
            {{ form_start(searchForm) }}
            <td>
            {{ form_widget(searchForm.firstName, {
                'attr': {
                    'class': 'bootstrap-select .col-6 .col-sm-4',
                    'placeholder': 'First Name'
                    }
            }) }}
            </td>
            <td>{{ form_widget(searchForm.search, {
                'attr': {
                    'class': 'bootstrap-select .col-6 .col-sm-4 link btn btn-ddefault',
                }
            }) }}</td>
            {{ form_end(searchForm) }}
            </td>
        </tr>
    </div>
    </table>
        <table class="listing form table table-striped table-hover" cellpadding="0" cellspacing="0">
            {{ form_start(form) }}
                <tr>
                    <th class="fa-align-right text-capitalize text-center full" colspan="12"><span id="enter_info" style="cursor: pointer;">Enter driver information</span></th>
                </tr>
            <div id="enter_info_form" style="display: none;">
                    <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.firstName) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.firstName, {'attr' : 
                    {'placeholder':'First Name', 'class':'text' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.lastName) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.lastName, {'attr' : 
                    {'placeholder':'Last Name', 'class':'text' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.cin) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.cin, {'attr' : 
                    {'placeholder':'CIN', 'class':'text' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.licenceNumber) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.licenceNumber, {
                        'attr' : {'placeholder':'Licence Number', 'class':'text',}}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.vehicleType) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.vehicleType)}}</td>
                </tr>
                <tr>
                    <td class="first"><strong>{{ form_label(form.periodOfTravel) }}</strong></td>
                    <td class="last">{{ form_widget(form.periodOfTravel) }}</td>
                </tr>     
                <tr>
                    <td class="first"><strong>{{ form_label(form.salaire) }}</strong></td>
                    <td class="last">{{ form_widget(form.salaire, {
                        'attr' : {'placeholder':'salary for this period', 'class':'text'}
                    }) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.numberPhone) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.numberPhone, {
                        'attr' : {'placeholder':'Phone Number', 'class':'text',}})}}</td>
                </tr>
            </div>
                {{ form_end(form) }}
            </table>
            <br>
        <div class="btn-group btn-group-justified ">
            <div class="btn-group">
                <a class="btn btn-success btn-xs glyphicon glyphicon-arrow-left" href="{{ path('cancelStepOne') }}" > Cancel</a>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary  btn-xs glyphicon glyphicon-pencil" > Next</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}