{% extends 'mission/missionBase.html.twig' %}

{% block center_column %}
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title button">Step Four: Create Mission</h3>
    </div>
{% block path %}
{{ parent() }}

{% endblock %}
{{ form_start(form) }}
    <div class="panel-body">

        <div class="error">
            <strong>{% if app.session.flashBag.has('missionError') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('missionError') %}
                    {{ msg }}
                {% endfor %}
            </div>{% endif %}</strong>
        </div>

    <div class="container-fluid table-responsive">
        <br>
        <table class="listing form table table-striped table-hover" cellpadding="0" cellspacing="0">
                <tr>
                        <th class="full" colspan="2">Enter Mission information</th>

                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.startDate) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.startDate, {'attr' : 
                    {'placeholder':'Start Date', 'class':'text' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.endDate) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.endDate, {'attr' : 
                    {'placeholder':'End Date', 'class':'text' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong title="Driver's Period Of Work">{{ form_label(form.periodOfWork) }}</strong>
                    </td>
                    <td class="last">{{form_widget(form.periodOfWork)}}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong title="Driver's Salary for this Period">{{ form_label(form.salaire) }}</strong>
                    </td>
                    <td class="last">{{form_widget(form.salaire)}}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.department) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.department) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.note) }}</strong>
                    </td>
                    <td class="last" formnovalidate>{{ form_widget(form.note) }}</td>
                </tr>
            </table>
            <br>
            <div class="btn-group btn-group-justified ">
                <div class="btn-group">
                    <a href="{{ path('stepTwo') }}" class="btn btn-success btn-xs glyphicon glyphicon-arrow-left" title="Back to rent" > Back</a>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary  btn-xs glyphicon glyphicon-pencil" title="Verify your given datas"> Next</button>
                </div>
            </div>
        </div>
    </div>


        {{ form_end(form) }}
        
{% endblock %}