{% extends 'base.html.twig' %}

{% block header %}
            <li><span><span><a href="{{path('allProjects')}}">Projects</a></span></span></li>
            <li class="active"><span><span><a href="{{path('allMissions')}}">MISSIONS</a></span></span></li>
            <li><span><span><a href="{{path('allRents')}}">Rent</a></span></span></li>
            <li><span><span><a href="{{path('allSuppliers')}}">Suppliers</a></span></span></li>
            <li><span><span><a href="{{path('allDepartments')}}">Departments</a></span></span></li>
            <li><span><span><a href="{{path('allDrivers')}}">Drivers</a></span></span></li>
            <li><span><span><a href="{{path('allVehicles')}}">Vehicles</a></span></span></li>
            <li><span><span><a href="{{path('allTypes')}}">Vehicles Type</a></span></span></li>
            <li><span><span><a href="{{path('allPayments')}}">Payments</a></span></span></li>
            {% if connectedUser.role == 1 %}
                <li><span><span><a href="{{ path('allUsers') }}">Users</a></span></span></li>
            {% endif %}
{% endblock %}

{% block left_column %}
    <h3>MISSIONS MANAGMENT</h3>
    <a href="{{path('addMission')}}" class="link">Create Mission</a>
    <a href="{{path('allMissions')}}" class="link">Show all missions</a>
    <a href="{{path('projectCalendar')}}" class="link">Calendrier</a>
    <a href="#" class="link">Export data</a>
{% endblock %}
{% block center_column %}
<div class="top-bar"> <a title="Add new Mission" href="/mission/new" class="button">ADD NEW </a>
        <h1>Contents</h1><br>
        <div class="breadcrumbs">
        {% block path %}
        <a class="path" href="/mission">Missions</a>
        {% endblock %}
        </div>
    </div>
    <br>
    <hr>
    <br>
    <form action="" method="GET">
            <table>
                <tr class="bg">
                    <td class="first">Filter</td>
                    <td class="last">
                        <select name="filter" id="filterMission">
                            <option value="0">All</option>
                            <option value="1">Finished</option>
                            <option value="2">Not Finished</option>
                        </select>
                    </td>
                    <td class="last"><button type="submit">Get Result</button></td>
                </tr>
            </table>
        </form>
        <br>
    <div class="table"> 
    <img src="{{ asset('img/bg-th-left.gif') }}" width="8" height="7" alt="" class="left" /> <img src="{{ asset('img/bg-th-right.gif') }}" width="7" height="7" alt="" class="right" />
        <table class="listing" cellpadding="0" cellspacing="0">
        {% if missions is empty or missions is null %}
                <tr class="bg">
                    <td class="first" style="text-align:center;font-weight: bold;">There is no missions add some <a href="/mission/new" style="color:red;text-decoration: underline black;">here</a></td>
                </tr>
            {% else %}
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Driver</th>
                <th>Department</th>
                <th>Project</th>
                <th>Finished</th>
                <th class="last">Actions</th>
            </tr>
            {% for mission in missions %}
            <tr class="bg">
                <td class="first" width="57px">{{ mission.startDate|date('d-m-Y') }}</td>
                <td class="first" width="57px">{{ mission.endDate|date('d-m-Y') }}</td>
                <td class="first"><a href="{{path('showDriver', {'id': mission.driver.id})}}" title="More Details">{{ mission.driver.firstName }}</a></td>
                <td class="first"><a href="{{path('showDepartment', {'id': mission.department.id})}}" title="More Details">{{ mission.department.name }}</a></td>
                <td class="first"><a href="{{path('showProject', {'id': mission.project.id})}}" title="More Details">{{ mission.project.name }}</td>
                <td class="first"> {% if mission.finished %}Yes{% else %}No{% endif %}</td>
                <td>
                <a href="{{ path('deleteMission', {'id': mission.id}) }}" onclick="return confirm('Are u sure, You want to delete this mission?')"><img src="{{ asset('img/hr.gif') }}" width="16" height="16" title="Delete" /></a>
                <a href="{{ path('editMission', {'id': mission.id}) }}" onclick="return confirm('Are u sure, You want to edit this mission?')"><img src="{{ asset('img/edit-icon.gif') }}" width="16" height="16" title="Edit" /></a>
                <a href="{{ path('showMission', {'id': mission.id}) }}"><img src="{{ asset('img/add-icon.gif') }}" width="16" height="16" title="Details" /></a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
        <br>
        {% if missions is not empty and missions is not null %}
            <div class="first"><a class="button" href="{{ path('deleteAll') }}" onclick="return confirm('Are u sure, You want to delete all missions?')" >Delete All</a></div>
            {% endif %}
    </div>
{% endblock %}
