{% extends 'mission/missionBase.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block center_column %}
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title button">Step Tree: Create Rent</h3>
    </div>
{% block path %}
    {{ parent() }}
{% endblock %}
{{ form_start(form) }}
    <div class="panel-body">

        {% if app.session.flashBag.has('rentMsg') %}
            <div class="alert alert-success error">
                {% for msg in app.session.flashBag.get('rentMsg') %}
                    <strong>{{ msg }}</strong>
                {% endfor %}
            </div>
        {% endif %}
        <div class="container-fluid table-responsive">
            <br>
            <table class="listing form table table-striped table-hover" cellpadding="0" cellspacing="0">
                <tr>
                    <th>
                        <th class="full" colspan="2">Enter Rent information</th>
                    </tr>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.startDate) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.startDate, {'attr' :
                    {'placeholder':'Start Date', 'class':'text' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.endDate) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.endDate, {'attr' :
                    {'placeholder':'End Date', 'class':'text' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.period) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.period, {'attr' :
                    {'placeholder':'Period of Rent', 'class':'text' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.price) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.price, {'attr' :
                    {'placeholder':'Price for this period DH', 'class':'text','style':'width:242px;' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.withDriver) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.withDriver) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.supplier) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.supplier) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.note) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.note, {'attr' :
                    {'placeholder':'Write some Note', 'class':'text' }}) }}</td>
                </tr>
            </table>
            <br>
            <div class="btn-group btn-group-justified ">
                <div class="btn-group">
                    <a class="btn btn-success btn-xs glyphicon glyphicon-arrow-left" href="{{ path('stepTree') }}" > Back</a>
                </div>
                <div class="btn-group">
                        <button type="submit" class="btn btn-primary  btn-xs glyphicon glyphicon-pencil"> Next</button>
                </div>
            </div>
        </div>
    </div>
    
    {{ form_end(form) }}
    {% endblock %}
