{% extends 'department/departmentBase.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block center_column %}
<div class="top-bar">
    <a title="Add new Department" href="/department/new" class="button">ADD NEW
    </a>
    <h1>Department</h1><br>
    <div class="breadcrumbs">
{% block path %}
{{ parent() }}
<a class="path" href="{% if department.id == null %}{{ path('addDepartment') }} {% else %}{{path('editDepartment', {'id': department.id })}}{% endif %}">
 / {% if department.id == null %}Create Department{% else %}Edit Department{% endif %}</a>
{% endblock %}
</div>
</div>
{{ form_start(form) }}
<hr>
<br>
        <div class="table"> 
            <img src="{{ asset('img/bg-th-left.gif') }}" width="8" height="7" alt="" class="left" /> 
            <img src="{{ asset('img/bg-th-right.gif') }}" width="7" height="7" alt="" class="right" />
            <table class="listing form" cellpadding="0" cellspacing="0">
                <tr>
                    <th class="full" colspan="2">Enter department information</th>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.name) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.name, {'attr' : 
                    {'placeholder':'Department Name', 'class':'text' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.adress) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.adress, {'attr' : 
                    {'placeholder':'Department adress', 'class':'text' }}) }}</td>
                </tr>
                 <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.note) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.note, {'attr' : 
                    {'placeholder':'Add a note', 'class':'text', 'cols':'70', 'rows':'3' }}) }}</td>
                </tr>
            </table>
        </div>
            <button type="submit" class="button">{% if department.id %}Update{% else %}Create{% endif %}</button>
            <button class="button" formnovalidate><a href="{{ path('allDepartments') }}" >Cancel</a></button>
        {{ form_end(form) }}
{% endblock %}