{% extends 'base.html.twig' %}
{% block departement_class %}class="active"{% endblock %}

{% block header %}
Departements
{% endblock %}
{% block header_annex %}
    <li><a href="index.html">Home</a></li>
    <li class="active">Departements</li>
{% endblock %}


{% block left_column %}
    <a href="{{path('addDepartment')}}" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Create Depart</a>
    <a href="{{path('allDepartments')}}" class="list-group-item"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Show all Departs</a>
{% endblock %}


{% block center_column %}
        <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Departements</h3>
        </div>

         {% block path %}

        {% endblock %}
        <br>
        <div class="panel-body">
           <a title="Add new Department" href="/department/new" class="btn-group-justified btn-primary btn-xs">ADD NEW </a>
           <div class="table-responsive">
              <br>
            <table class="table table-striped table-hover">
                {% if departments is empty or departments is null %}
                    <tr class="bg">
                        <td class="first" style="text-align:center;font-weight: bold;">There is no department add one <a href="/department/new" style="color:red;text-decoration: underline black;">here</a></td>
                    </tr>
                {% else %}
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th class="last">Actions</th>
                </tr>
                {% for department in departments %}
                <tr class="bg">
                    <td class="first">{{ department.name }}</td>
                    <td class="first">{{ department.adress }}</td>
                    <td>
                        <div class="btn-group btn-sm">
                            <a href="{{ path('showDepartment', {'id': department.id}) }}"
                               class="btn btn-info">Details</a>
                            {% if connectedUser.role == 1 %}
                                <a href="{{ path('editDepartment', {'id': department.id}) }}" onclick="return confirm('Are u sure, You want to edit this Department?')"
                                class="btn btn-default">Edit</a>
                                <a href="{{ path('deleteDepartment', {'id': department.id}) }}" onclick="return confirm('Are u sure, You want to delete this Department? Note that all missions linked to that department will be deleted!')"
                                   class="btn btn-danger">Delete</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        <br>
            </div>
        </div>

{% endblock %}
