{% extends 'payment/base.html.twig' %}

{% block center_column %}


            {% block path %}

            {% endblock %}

    {% block content %}
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Payments Driver</h3>
    </div>
<div class="panel-body">


        {% if app.session.flashBag.has('paymentDriverMsg') %}
            <div class="alert alert-success error">
                {% for msg in app.session.flashBag.get('paymentDriverMsg') %}
                    <strong>{{ msg }}</strong>
                {% endfor %}
            </div>
        {% endif %}
        <br>
        <div class="table-responsive">
            <a title="Add new Payment Driver" href="{{path('addPaymentDriver', {'idPayment': -1})}}"class="btn-group-justified btn-primary btn-xs ">ADD NEW </a>

            <br>
            <table class="table table-striped table-hover" cellpadding="0" cellspacing="0">
                {% if paymentDriver is empty or paymentDriver is null %}
                    <tr class="bg">
                        <td class="first" style="text-align:center;font-weight: bold;">There is no Payments Driver add one
                            <a href="{{path('addPaymentDriver', {'idPayment': -1})}}" style="color:red;text-decoration: underline black;">here</a>
                        </td>
                    </tr>
                {% else %}
                    <tr  >
                        <th>Driver</th>
                        <th >Payment Date</th>
                        <!-- <th  width="180px" title="Total Rent expenses">Price To Pay (DH)</th> -->
                        <th title="Days Paid">Days To Pay </th>
                        <th  title="The price paid in that date">Price (DH)</th>
                        <th  title="Number of days paid">Days</th>

                        <th  class="last">Actions</th>
                    </tr>
                    {% for payment in paymentDriver %}
                        <tr class="bg">
                            <td><a href="{{path('showDriver', {'id': payment.driver.id})}}">{{ payment.driver.firstName }} {{ payment.driver.lastName }}</a></td>
                            <td >{{ payment.datePayment|date('d-M-Y') }}</td>
                            <!-- <td bgcolor="#359e98" >{{ payment.totalPrice }}</td> -->
                            <td bgcolor="#7c9e35">{{payment.daysToPay}} </td>
                            <td bgcolor="#7c9e35">{{payment.price}} </td>
                            <td bgcolor="#7c9e35">{{payment.daysPaid}} </td>
                            <td>
                                <div class="btn-group btn-sm">
                                    <a href="{{ path('editPaymentDriver', {'id': payment.id, 'idPayment': payment.payment.id}) }}" onclick="return confirm('Are u sure, You want to edit this payment?')"class="btn btn-default" >Edit</a>
                                    <a href="{{ path('showPaymentDriver', {'id': payment.id}) }}"class="btn btn-info">Details</a>
                                <a href="{{ path('deletePaymentDriver', {'id': payment.id}) }}" onclick="return confirm('Are u sure, You want to delete this payment?')"class="btn btn-danger">Delete</a>
                                </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="last">

                        <td></td>
                        <td></td>
                        <th colspan="1" >Total:</th>
                        <td bgcolor="#7c9e35" >
                            {{paymentDriver|first.payment.totalPricePaidToDriver}} DH
                        </td>
                        <td bgcolor="#7c9e35" >
                            {{paymentDriver|last.payment.totalDaysPaid}} Days
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endblock %}
{% endblock %}
