{% extends 'payment/paymentSupplierBase.html.twig' %}
{% block center_column %}

    {% block path %}
        <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Suppliers </h3>
        </div>
        <div class="panel-body">
        {{ parent() }}
         <a class=" btn-info btn-xs " href="#">
            /{% if paymentSupplier and paymentSupplier.id %} Edit{% else %} Create {% endif %}</a>

    {% endblock %}
    {{ form_start(form) }}

    {% if app.session.flashBag.has('paymentSupplierMsg') %}
        <div class="alert alert-success error">
            {% for msg in app.session.flashBag.get('paymentSupplierMsg') %}
                <strong>{{ msg }}</strong>
            {% endfor %}
        </div>
    {% endif %}
        <br>
        <div class="container-fluid table-responsive">
        <table class="listing form table table-striped table-hover" >
            <tr>
                <th class="full" colspan="2">Enter Payment Supplier information</th>
            </tr>
            <tr>
                <td class="first" width="172">
                    <strong>{{ form_label(form.datePayment) }}</strong>
                </td>
                    <td class="last">{{ form_widget(form.datePayment) }}</td>
            </tr>
            <tr>
                <td class="first" width="172">
                    <strong>{{ form_label(form.price) }}</strong>
                </td>
                <td class="last">{{ form_widget(form.price) }}</td>
            </tr>
            <tr>
                <td class="first" width="172">
                    <strong>{{ form_label(form.note) }}</strong>
                </td>
                <td class="last">{{ form_widget(form.note) }}</td>
            </tr>
        </table>
        <br>
        <div class="btn-group btn-group-justified ">
            <div class="btn-group">
                <a class="btn btn-success btn-xs glyphicon glyphicon-arrow-left" href="{{ path('cancelAddPaymentSupplier') }}"> Back</a>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary  btn-xs glyphicon glyphicon-pencil">
                    {% if paymentSupplier and paymentSupplier.id %}Update{% else %}Create{% endif %}
                </button>
            </div>
        </div>
    </div>
        </div>

    {{ form_end(form) }}
{% endblock %}