{% extends 'payment/paymentBase.html.twig' %}
{% block center_column %}
            {% block path %}
                <div class="panel-heading main-color-bg">
                <h3 class="panel-title">
                {{ parent() }}
                    <a href="#" class="path"> :
                    {% if paymentDriver and paymentDriver.id %}Edit {% else %}Create{% endif %}
                    </a></h3></div>
            {% endblock %}
    {{ form_start(form) }}
    <div class="panel-body">
    <div class="container-fluid table-responsive">
    {% if app.session.flashBag.has('paymentDriverMsg') %}
        <div class="alert alert-success error">
            {% for msg in app.session.flashBag.get('paymentDriverMsg') %}
                <strong>{{ msg }}</strong>
            {% endfor %}
        </div>
    {% endif %}
<br>
        <table class="listing form table table-striped table-hover" >
            <tr>
                <th class="full" colspan="2">Enter Payment Driver information</th>
            </tr>
            <tr>
                <td class="first" width="172">
                    <strong>{{ form_label(form.datePayment) }}</strong>
                </td>
                <td class="last">{{ form_widget(form.datePayment) }}</td>
            </tr>
            <tr>
                <td class="first" width="172">
                    <strong>{{ form_label(form.daysPaid) }}</strong>
                </td>
                <td class="last">{{ form_widget(form.daysPaid) }}</td>
            </tr>
            <tr>
                <td class="first" width="172">
                    <strong>{{ form_label(form.note) }}</strong>
                </td>
                <td class="last">{{ form_widget(form.note) }}</td>
            </tr>
        </table>
        <br>
    <div class="btn-group btn-group-justified ">
        <div class="btn-group">
            <a class="btn btn-success btn-xs glyphicon glyphicon-arrow-left" href="{{ path('allPaymentsDriver') }}"> Back</a>
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-primary  btn-xs glyphicon glyphicon-pencil"  >
            {% if paymentDriver and paymentDriver.id %}Update{% else %}Create{% endif %}
          </button>
    </div>


    {{ form_end(form) }}
    </div>
    </div>
    </div>

{% endblock %}