{% extends 'base.html.twig' %}

{% block content %}

    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Fuel Reconciliation edit<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
            <div class="heading-elements">
                <a href="{{ path('fuelreconciliation_index') }}" class="btn btn-primary btn-xs "><b><i class="icon-loop3"></i></b> Back to list</a>
            </div>
        </div>
        <div class="panel-body">
            <p class="content-group-lg"></p>

            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(edit_form) }}
            <br />
            <div class="text-right">
                <div class="btn-group">
                    <button class="btn btn-primary legitRipple" type="submit">Update<i class="icon-rotate-cw2 position-right"></i></button>
                    <a onclick="return confirm('Êtes-vous sûr ? Cette action est irréversible.');"  class="btn btn-danger legitRipple" href="{{ path('fuelreconciliation_delete', { 'id': fuelReconciliation.id }) }}">Delete <i class="icon-trash-alt position-right"></i></a>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}
