{% extends 'fuel_reconciliation/fuelReconciliationBase.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block center_column %}
{% block path %}

    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">{% if fuelReconciliation == null or fuelReconciliation.id == null %}Create 
                    {% else %}
                    Edit 
                    {% endif %}Reconciliation</h3>
    </div>
{% endblock %}
{{ form_start(form) }}


    <div class="panel-body">
    {% if app.session.flashBag.has('fuelMsg') %}
        <div class=" text text-center alert alert-success error">
            {% for msg in app.session.flashBag.get('fuelMsg') %}
                <strong>{{ msg }}</strong>
            {% endfor %}
        </div>
    {% endif %}
        <div class="container-fluid table-responsive">
            <br>
                <table class="listing form table table-striped table-hover" >
                    <tr>
                        <th>
                            <th class="full" colspan="4">Enter Reconciliation information</th>
                        </th>
                    </tr>
                    <tr>
                        <td class="first" width="150">
                            <strong>{{ form_label(form.totalAmount) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.totalAmount, {'attr' :
                        {'placeholder':'Total Amount (DH)', 'class':'text' }})
                            }}</td>
                        <td class="first" width="150">
                            <strong>{{ form_label(form.totalLitres) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.totalLitres, {'attr' :
                                {'placeholder':'Total Litres (L)', 'class':'text' }}) }}</td>
                    </tr>
                    <tr>
                        <td class="first" width="150">
                            <strong>{{ form_label(form.kilometrage) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.kilometrage, {'attr' :
                        {'placeholder':'Kilometrage (Km)', 'class':'text' }}) }}</td>
                        <td class="first" width="150">
                            <strong>{{ form_label(form.gasStation) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.gasStation) }}</td>
                    </tr>
                     <tr>

                    </tr>
                    <tr>
                        <td class="first" width="172">
                            <strong>{{ form_label(form.vehicle) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.vehicle) }}</td>
                        <td class="first" width="172">
                            <strong>{{ form_label(form.driver) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.driver) }}</td>
                    </tr>
                    <tr>
                        <td class="first" width="172">
                            <strong>{{ form_label(form.receiptNum) }}</strong>
                        </td>
                        <td class="custom-select" width="172">{{ form_widget(form.receiptNum) }}
                        </td>
                        <td class="first" width="172" rowspan="2">
                            <strong>{{ form_label(form.note) }}</strong>
                        </td>
                        <td class="custom-select" colspan="4" width="172">{{ form_widget(form.note) }}
                        </td>
                    </tr>
                </table>
        </div>
            <br>
            <div class="btn-group btn-group-justified ">
                <div class="btn-group">
                {# <button title="Show All Users" href="{{ path('allUsers') }}" class="btn btn-success btn-xs glyphicon glyphicon-arrow-left"> Back </button> #}
                    <a title="Show All Users" href="{{ path('all_fuel_reconciliation') }}" class="btn btn-success btn-xs glyphicon glyphicon-arrow-left">  Back  </a>
                </div>
                <div class="btn-group">
                <button type="submit" class="btn btn-primary  btn-xs glyphicon glyphicon-pencil">{% if fuelReconciliation != null and fuelReconciliation.id %}Update{% else %}Create{% endif %}</button>
                </div>
             </div>
            {{ form_end(form) }}
        </div>
    </div>

   {# <input class="form-control"  type="date" name="bday">#}










{% endblock %}