{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block header %}
    Search Reconciliations
{% endblock %}
{% block header_annex %}
    <li><a href="#">Home</a></li>
    <li class="active">Search Reconciliations</li>
{% endblock %}

{% block left_column %}
    <a href="{{path('addFuelReconciliation')}}" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Create Reconciliation</a>
    <a href="{{path('all_fuel_reconciliation')}}" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Show all reconciliations</a>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Search For</a>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Export data</a>
{% endblock %}

{% block center_column %}
{% block path %}

    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Search For Reconciliation</h3>
    </div>
{% endblock %}
    <div class="panel-body">
    {% if app.session.flashBag.has('fuelMsg') %}
        <div class=" text text-center alert alert-success error">
            {% for msg in app.session.flashBag.get('fuelMsg') %}
                <strong>{{ msg }}</strong>
            {% endfor %}
        </div>
    {% endif %}

            <br />
     <div class="container-fluid table-responsive">
                <table class="listing form table table-striped table-hover" >
                {{ form_start(form) }}

                    <tr>
                        <th>
                            <th class="full">Searching For</th>
                        </th>
                    </tr>
                    <tr>
                        <td class="first" width="150">
                            <strong>{{ form_label(form.firstDate) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.firstDate, {'attr' :
                        {'placeholder':'Total Amount', 'class':'text' }})}}</td>
                        <td class="first" width="150">
                            <strong>
                                {{ form_label(form.secondDate) }}                            
                            </strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.secondDate, {'attr' :
                        {'placeholder':'Total Amount', 'class':'text' }}) }}</td>
                    </tr>
                    <tr>
                        <td class="first" width="150">
                            <strong>
                    {{ form_label(form.department) }}                            
                            </strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.department, {'attr' :
                        {'placeholder':'Total Amount', 'class':'text' }}) }}</td>
                        <td class="first" width="150">
                            <strong>{{ form_label(form.driver) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.driver, {'attr' :
                        {'placeholder':'Total Amount', 'class':'text' }}) }}</td>
                    </tr>
                    <tr>
                        <td class="first" width="150">
                            <strong>{{ form_label(form.vehicle) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.vehicle, {'attr' :
                        {'placeholder':'Total Amount', 'class':'text' }}) }}</td>
                        <td class="first" width="150">
                            <strong>{{ form_label(form.isPaid) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.isPaid) }}</td>
                        
                    </tr>
                    <tr>
                        <td class="first" width="150">
                            <strong>{{ form_label(form.gasStation) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.gasStation) }}</td>
                        <td class="first" width="150" rowspan="2">
                            <strong>{{ form_label(form.project) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.project, {'attr' :
                        {'placeholder':'Total Amount', 'class':'text' }}) }}
                        </td>
                        {# <td class="first" width="150">
                            <strong>{{ form_label(form.isPaid) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.isPaid, {'attr' :
                        {'placeholder':'Total Amount', 'class':'text' }}) }}
                        </td> #}
                    </tr>
                    
                </table>
                <div class="text-center">
                <button type="submit" class="btn btn-primary legitRipple">Validate <i class="icon-arrow-right14 position-right"></i></button>
                    </div>
        </div>
            <br>
            {{ form_end(form) }}

    <div class="panel-body">
        <h6 class="panel-title fill text text-center">Search Results</h6>

        <span title="Create New Reconciliation" class="pull-right"><a href="{{ path('addFuelReconciliation') }}" class="btn btn-labeled btn-labeled-left bg-blue heading-btn">Create</a></span>
    <table class="table datatable-responsive table-bordered table-hover datatable-highlight">
        <thead>
            <tr>
                <th>Date</th>
                <th>Licence plate</th>
                <th>Driver</th>
                <th>Department</th>
                <th>Mileage</th>
                <th>Liters</th>
                <th>Amount</th>
                <th>Paid</th>
                <th>Vehicle</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% set index = 0 %}
            {% set total = 0 %}
            {% for fuelReconciliation in list %}
                {% set total = total + fuelReconciliation.totalAmount %}
                <tr data-type="reconciliation" data-id="{{ fuelReconciliation.id }}">
                    <td>{% if fuelReconciliation.createdAt %}{{ fuelReconciliation.createdAt|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ fuelReconciliation.vehicle.matricule }}</td>
                    <td>{{ fuelReconciliation.driver.lastName }} {{ fuelReconciliation.driver.firstName }}</td>
                    <td>{{ fuelReconciliation.department.name }}</td>
                    <td>{{ fuelReconciliation.kilometrage }}</td>
                    <td>{{ fuelReconciliation.totalLitres }}</td>
                    <td>{{ fuelReconciliation.totalAmount }}</td>
                    <td>
                        <span class="label {% if fuelReconciliation.isPaid %}label-success{% else %}label-danger{% endif %}">
                            {% if fuelReconciliation.isPaid %}Yes{% else %}No{% endif %}</span>
                    </td>
                    <td>{{ fuelReconciliation.vehicle.type.name }}</td>
                    <td>{{ fuelReconciliation.note }}</td>
                </tr>
                </tr>

            {% endfor %}
            <tr>
                <td colspan="12"></td>
            </tr>
            <tr class="info">
                <td colspan="6" class="text-center">TOTAL</td>
                <td colspan="6">{{ total}} MAD
                </td>

            </tr>
        

        </tbody>
        
    </table>

            <div class="text-center">
                <button type="button" id="add_to_print" class="btn btn-success legitRipple">Add to print list <i class="icon-printer position-left"></i></button>
            </div>
</div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.rawgit.com/needim/noty/77268c46/lib/noty.css"/>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.rawgit.com/needim/noty/77268c46/lib/noty.min.js"></script>
    <script type="text/javascript">
            var add_reconciliations_to_print_path = "{{ path('add_reconciliation_to_print') }}";
            $(document).ready(function(){
                $('#add_to_print').on('click',function(){
                    var reconciliations = [];
                    $('tr[data-type="reconciliation"]').each(function(index,reconciliation){
                        reconciliations.push($(this).data('id'));
                    });
                    $.ajax({
                        type: "POST",
                        url: add_reconciliations_to_print_path,
                        data: {reconciliations :reconciliations},
                        success: function (data) {
                            console.log(data);
                            new Noty({
                                    type: 'info',
                                    layout: 'topRight',
                                    duration: 1000,
                                    text: 'Success <br/>The reconciliations have been added to print side !',
                            }).show();
                        },
                        error: function (data) {
                            new Noty({
                                type: 'error',
                                layout: 'topRight',
                                duration: 1000,
                                text: 'Error <br/>Something goes wrong, please try again !',
                            }).show();
                        }
                    });
                })
            });

    </script>
{% endblock %}
