{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block header %}
    Search Reconciliations
{% endblock %}
{% block header_annex %}
    <li><a href="#">Home</a></li>
    <li class="active">Search Reconciliations</li>
{% endblock %}

{% block left_column %}
    <a href="{{path('addFuelReconciliation')}}" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Create Reconciliation</a>
    <a href="{{path('all_fuel_reconciliation')}}" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Show all reconciliations</a>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Search For</a>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Export data</a>
{% endblock %}

{% block center_column %}

    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Search For Reconciliation</h3>
    </div>
    <div class="panel-body">
    {% if app.session.flashBag.has('fuelMsg') %}
        <div class=" text text-center alert alert-success error">
            {% for msg in app.session.flashBag.get('fuelMsg') %}
                <strong>{{ msg }}</strong>
            {% endfor %}
        </div>
    {% endif %}

            <br />
     <div class="container-fluid table-responsive">
                <table class="listing form table table-striped table-hover" >
                {{ form_start(form) }}
                    <tr>
                        <td class="first" width="150">
                            <strong>{{ form_label(form.firstDate) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.firstDate, {'attr' :
                        {'placeholder':'Total Amount', 'class':'text' }})}}</td>
                        <td class="first" width="150">
                            <strong>
                                {{ form_label(form.secondDate) }}                            
                            </strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.secondDate, {'attr' :
                        {'placeholder':'Total Amount', 'class':'text' }}) }}</td>
                    </tr>
                    <tr>
                        <td class="first" width="150">
                            <strong>
                    {{ form_label(form.department) }}                            
                            </strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.department, {'attr' :
                        {'placeholder':'Total Amount', 'class':'text' }}) }}</td>
                        <td class="first" width="150">
                            <strong>{{ form_label(form.driver) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.driver, {'attr' :
                        {'placeholder':'Total Amount', 'class':'text' }}) }}</td>
                    </tr>
                    <tr>
                        <td class="first" width="150">
                            <strong>{{ form_label(form.vehicle) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.vehicle, {'attr' :
                        {'placeholder':'Total Amount', 'class':'text' }}) }}</td>
                        <td class="first" width="150">
                            <strong>{{ form_label(form.isPaid) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.isPaid) }}</td>
                        
                    </tr>
                    <tr>
                        <td class="first" width="150">
                            <strong>{{ form_label(form.gasStation) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.gasStation) }}</td>
                        <td class="first" width="150" rowspan="2">
                            <strong>{{ form_label(form.project) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.project, {'attr' :
                        {'placeholder':'Total Amount', 'class':'text' }}) }}
                        </td>
                        {# <td class="first" width="150">
                            <strong>{{ form_label(form.isPaid) }}</strong>
                        </td>
                        <td class="last" width="172">{{ form_widget(form.isPaid, {'attr' :
                        {'placeholder':'Total Amount', 'class':'text' }}) }}
                        </td> #}
                    </tr>
                    
                </table>
                <div class="text-center">
                <button type="submit" class="btn btn-primary legitRipple">Search <i class="icon-arrow-right14 position-right"></i></button>
                    </div>
        </div>
            <br>
            {{ form_end(form) }}

    <div class="panel-body">
        <div class="table-responsive">

            <table class="table table-striped table-hover" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Mileage (KMs)</th>
                        <th>Liters (Lts)</th>
                        <th>Amount (DHs)</th>
                        <th>Paid</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% set totalAmount = 0 %}
                    {% set totalLitres = 0 %}
                    {% set totalKilom = 0 %}
                    {% for fuelReconciliation in list %}
                        <tr data-type="reconciliation" data-id="{{ fuelReconciliation.id }}">
                            <td>{% if fuelReconciliation.createdAt %}{{ fuelReconciliation.createdAt|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ fuelReconciliation.kilometrage }}</td>
                            <td>{{ fuelReconciliation.totalLitres }}</td>
                            <td>{{ fuelReconciliation.totalAmount }}</td>
                            <td>
                                <span class="label {% if fuelReconciliation.isPaid %}label-success{% else %}label-danger{% endif %}">
                                    {% if fuelReconciliation.isPaid %}Yes{% else %}No{% endif %}</span>
                            </td>
                            <td>{{ fuelReconciliation.note }}</td>
                            {% set totalAmount = totalAmount + fuelReconciliation.totalAmount %}
                            {% set totalLitres = totalLitres + fuelReconciliation.totalLitres %}
                            {% set totalKilom = totalKilom + fuelReconciliation.kilometrage %}
                        </tr>
                        <tr>
                            <td>Totals</td>
                            <td>{{ totalKilom }} KMs</td>
                            <td>{{ totalLitres }} Lts</td>
                            <td>{{ totalAmount }} DHs</td>
                        </tr>
                    {% endfor %}

                </tbody>
                
            </table>

            <div class="text-center">
                <a href="{{path('makeAsFactured')}} {{ app.session.set('reconciliations', list) }} {{ app.session.set('totalAmount', totalAmount) }}{{ app.session.set('totalLitres', totalLitres) }}" class="btn btn-success legitRipple">Make as Factured <i class="icon-printer position-left"></i></a>
            </div>
</div>
{% endblock %}
