{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block projet_class %}
    class="active"
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block header %}
    Projects
{% endblock %}
{% block header_annex %}
    <li><a href="index.html">Home</a></li>
    <li class="active">Projet</li>
{% endblock %}

{% block left_column %}
    {% if connectedUser.role == 1 %}
        <a href="{{path('addProject')}}" class="list-group-item"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>  Create Project</a>
    {% endif %}
        <a href="/project" class="list-group-item" ><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>  Show all projects</a>
{% endblock %}

{% block center_column %}
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Project</h3>
    </div>


        {% block path %}


        {% endblock %}
    <div class="panel-body">
        {% if app.session.flashBag.has('projectError') %}
            <div class="alert alert-success error">
                <strong>{% for msg in app.session.flashBag.get('projectError') %}
                    {{ msg }}
                {% endfor %}</strong>
            </div>
        {% endif %}
        {% if app.session.flashBag.has('projectSuccess') %}
            <div class="alert alert-success error">
                {% for msg in app.session.flashBag.get('projectSuccess') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}

        {% if connectedUser.role == 1 %}
            <a href="/project/new" class="btn-group-justified btn-primary btn-xs "  >ADD NEW Project</a>
        {% endif %}
        <div class="table-responsive">
                {% if projects%}
                <!-- <table class="listing form table table-striped table-hover" cellpadding="0" cellspacing="0">
            <tr class='first'>
                <th colspan="12" class='fa-align-right text-capitalize text-center full'> Search for existing driver</th></tr>
                <tr class='first'>
                <br>
                    {{ form_start(searchForm) }}
                    <td>
                    {{ form_widget(searchForm.startDate, {
                        'attr': {
                            'class': 'bootstrap-select .col-6 .col-sm-4',
                            }
                    }) }}
                    </td>
                    <td>
                    {{ form_widget(searchForm.endDate, {
                        'attr': {
                            'class': 'bootstrap-select .col-6 .col-sm-4',
                            }
                    }) }}
                    </td>
                    <td>
                <input type="submit" value="Search" class="bootstrap-select .col-6 .col-sm-4 link btn btn-ddefault">                    
                    </td>
                    {{ form_end(searchForm) }}
                    </td>
                    </tr>
                </table> -->
            {% endif %}
            <br>
            <table width="100%" class="table table-striped table-hover">
            {% if projects is empty or projects is null %}
                    <tr class="bg">
                        <td class="first" style="text-align:center;font-weight: bold;">There is no Project add one <a href="/project/new" style="color:red;text-decoration: underline black;">Here</a></td>
                    </tr>
                {% else %}
                <tr>
                    <th class="first">Name</th>
                    <th>Owner</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Budget</th>
                    <th width="50%" class="last" style="text-align: center;vertical-align: middle;">Actions</th>
                </tr>
                {% for project in projects %}
                <tr class="bg">
                    <td class="first">{{ project.name }}</td>
                    <td class="first">{{ project.owner }}</td>
                    <td class="first">{{ project.startDate|date('d-m-Y') }}</td>
                    <td class="first">{{ project.endDate|date('d-m-Y') }}</td>
                    <td class="first">{{ project.budget }} DH</td>
                    <td>
                        <div class="btn-group btn-sm">
                            <a href="{{ path('showProject', {'id': project.id}) }}" class="btn btn-info">Details</a>&nbsp;
                            {% if connectedUser.role == 1 %}
                            <a href="{{ path('editProject', {'id': project.id}) }}" class="btn btn-default" >Edit</a>&nbsp;
                            <a href="{{ path('deleteProject', {'id': project.id}) }}" class="btn btn-danger" onclick="return confirm('This Project will be deleted and all its missions, Are u sure that you want?')" > Delete</a>
                            <a title="Add Mission" href="{{ path('addMissionToProject', {'id': project.id}) }}"class="btn btn-success">Add</a>
                            <a title="Print Missions To PDF" href="{{ path('printMissionOfProjectToPdf', {'id': project.id}) }}"class="btn btn-default">PDF</a>
                            <a title="Print Missions To Excel" href="{{ path('printMissionOfProjectToExcel', {'id': project.id}) }}"class="btn btn-default">EXCEL</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>

{% endblock %}
