{% extends 'project/projectBase.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block center_column %}
{% block path %}
{{ parent() }}
<a class="path" href="{% if project.id == null %}{{ path('addProject') }} {% else %}{{path('editProject', {'id': project.id })}}{% endif %}">
 / {% if project.id == null %}Create project{% else %}Edit Project{% endif %}</a>
{% endblock %}
{{ form_start(form) }}
<hr>
<br>
        <div class="table"> 
            <img src="{{ asset('img/bg-th-left.gif') }}" width="8" height="7" alt="" class="left" /> 
            <img src="{{ asset('img/bg-th-right.gif') }}" width="7" height="7" alt="" class="right" />
            <table class="listing form" cellpadding="0" cellspacing="0">
                <tr>
                    <th class="full" colspan="2">Enter project information</th>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.name) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.name, {'attr' : 
                    {'placeholder':'Project Name', 'class':'text' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.owner) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.owner, {'attr' : 
                    {'placeholder':'Project Owner', 'class':'text' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.startDate) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.startDate, {'attr' : 
                    {'placeholder':'Start Date', 'class':'text' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.endDate) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.endDate, {'attr' : 
                    {'placeholder':'End Date', 'class':'text' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.budget) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.budget, {'attr' : 
                    {'placeholder':'Budget DH', 'class':'text' }}) }}</td>
                </tr>
                <tr>
                    <td class="first" width="172">
                        <strong>{{ form_label(form.note) }}</strong>
                    </td>
                    <td class="last">{{ form_widget(form.note, {'attr' : 
                    {'placeholder':'Notes are here', 'class':'text',
                    'cols':'80', 'rows':'2' }}) }}</td>
                </tr>
            </table>
            <button type="submit" class="button">{% if project.id %}Update{% else %}Create{% endif %}</button>
            <button class="button" formnovalidate><a href="{{ path('allProjects') }}" >Cancel</a></button>
        </div>
        {{ form_end(form) }}
{% endblock %}