{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block header %}
            <li class="active"><span><span><a href="#">Projects</a></span></span></li>
            <li><span><span><a href="{{path('allMissions')}}">Missions</a></span></span></li>
            <li><span><span><a href="#">Rent</a></span></span></li>
            <li><span><span><a href="{{path('allSuppliers')}}">Suppliers</a></span></span></li>
            <li><span><span><a href="{{path('allDepartments')}}">Departments</a></span></span></li>
            <li><span><span><a href="{{path('allDrivers')}}">Drivers</a></span></span></li>
            <li><span><span><a href="{{path('allVehicles')}}">Vehicles</a></span></span></li>
            <li><span><span><a href="{{path('allPayments')}}">Payments</a></span></span></li>
            {% if connectedUser.role == 1 %}
            <li><span><span><a href="{{ path('allUsers') }}">Users</a></span></span></li>
            {% endif %}
{% endblock %}

{% block left_column %}
    <h3>PROJECTS MANAGMENT</h3>
    <a href="{{path('addProject')}}" class="link">Create Project</a>
    <a href="/project" class="link">Show all projects</a>
    <a href="{{path('projectCalendar')}}" class="link">Calendrier</a>
    <a href="#" class="link">Export data</a>
{% endblock %}
{% block center_column %}
<div class="top-bar"> <a title="Add new Project" href="/project/new" class="button">ADD NEW </a>
        <h1>Contents</h1><br>
        <div class="breadcrumbs">
        {% block path %}
        <a class="path" href="/project">Projects</a>
        {% endblock %}
        </div>
    </div>
    <br>
    <br>
    <div class="table"> 
    <img src="{{ asset('img/bg-th-left.gif') }}" width="8" height="7" alt="" class="left" /> <img src="{{ asset('img/bg-th-right.gif') }}" width="7" height="7" alt="" class="right" />
        <table class="listing" cellpadding="0" cellspacing="0">
            <tr>
                <th class="first">Name</th>
                <th>Owner</th>
                <th>Created At</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Budget</th>
                <th>Missions</th>
                <th>Notes</th>
                <th class="last">Actions</th>
            </tr>
            {% for project in projects %}
            <tr class="bg">
                <td class="first">{{ project.name }}</td>
                <td class="first">{{ project.owner }}</td>
                <td class="first">{{ project.createdAt|date('d-m-Y H:i') }}</td>
                <td class="first">{{ project.startDate|date('d-m-Y') }}</td>
                <td class="first">{{ project.endDate|date('d-m-Y') }}</td>
                <td class="first">{{ project.budget }}</td>
                <td class="first">
                {% if project.mission == null or project.mission is empty %} Add Missions
                {% else %} Show Missions {% endif %}
                </td>
                <td class="first">{{ project.note }}</td>
                <td>
                <a href="{{ path('deleteProject', {'id': project.id}) }}"><img src="{{ asset('img/hr.gif') }}" width="16" height="16" title="Delete" /></a>
                <a href="{{ path('editProject', {'id': project.id}) }}"><img src="{{ asset('img/edit-icon.gif') }}" width="16" height="16" title="Edit" /></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
