{% extends 'project/projectBase.html.twig' %}

{% block path %}
    {{ parent()}} / <a href="#" class="path"> Details</a>
{% endblock %}
{% block center_column %}
<hr><br>
            <div class="table"> 
                <img src="{{ asset('img/bg-th-left.gif') }}" width="8" height="7" alt="" class="left" />
                <img src="{{ asset('img/bg-th-right.gif') }}" width="7" height="7" alt="" class="right" />
                    <table class="listing form" cellpadding="0" cellspacing="0">
                    <tr>
                        <th class="full" colspan="2">Project Details</th>
                    </tr>
                    <tr class="bg">
                        <td class="first" width="172"><strong>Created At</strong></td>
                        <td class="last">{{ project.createdAt|date('d-m-Y H:i') }}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Start Date</strong></td>
                        <td class="last">{{ project.startDate|date('d-m-Y')}}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>End Date</strong></td>
                        <td class="last">{{ project.endDate|date('d-m-Y')}}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Name</strong></td>
                        <td class="last">{{ project.name }}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Budget</strong></td>
                        <td class="last">{{ project.budget }}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Owner</strong></td>
                        <td class="last">{{ project.owner }}</td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Payment Info</strong></td>
                        {# <td class="last"><a href="{{ path('showPayment', {'idPayment':project.payment.id}) }}" class="link">Show Payment's Info</a></td> #}
                        <td class="last">here</td>
                  </tr>
                    <tr class="bg">
                        <td class="first"><strong>Missions</strong></td>
                        <td class="last"><a href="{{ path('showMission', {'id':project.id}) }}" class="link">Show Project's Missions</a></td>
                    </tr>
                    <tr class="bg">
                        <td class="first"><strong>Is Finished?</strong></td>
                        <td class="last">{% if project.finshed %}Yes{% else %}No{% endif %} </td>
                    </tr>
                    <tr class="bg">
                    <td class="first"><strong>Notes</strong></td>
                    <td class="last">{{project.note}}</td>
                    </tr>
                    </table>
                    <p>&nbsp;</p>
                    <a title="Show All Missions" href="{{ path('allProjects') }}" class="button">Back </a>
                    <a title="Edit This Mission" href="{{ path('editProject', { 'id' : project.id }) }}" class="button">EDIT </a></td>
                </div>

{% endblock %}