<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Area | Account Login</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AdminStrap</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

        </div><!--/.nav-collapse -->
    </div>
</nav>

<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"> Admin Area <small>Account Login</small></h1>
            </div>
        </div>
    </div>
</header>
<section id="main">
    <div class="container">
            <div class="text text-center">
                    <strong>
                        {% for msg in app.session.flashBag.get('resetPassMsg') %}
                            <br>
                            <div class="alert alert-success">
                                {{ msg }}
                            </div>
                        {% endfor %}
                    </strong>
                </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% block body %}
                <form method="POST" id="myfrom" class="well">
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="text" class="form-control" id="_username" required name="_username" value="{{ username }}" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" id="txt_Password" required name="_password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default btn-block">Login</button>
                </form>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td></td>
                        <td width="325" class="text-center text-capitalize text-info">
                            <a href="{{ path('resetPassword') }}" class="link btn-link button">Forget Password?</a>
                        </td>
                    </tr>
                        <tr><td height="10"></td></tr>
                        <tr>
                            <td width="2%"></td>
                            <td align="center">
                                <input id="remember" type="checkbox" value="_remember_me">
                                <label for="remember">Remember me</label>
                            </td>
                        </tr>
                        <tr><td height="10"></td></tr>
                        <tr>
                            {% if error %}
                            <td width="71" height="32" align="center"><img src="{{ asset('img/sigh.gif') }}" width="25" height="20"> </td>
                            {# <td width="6" align="left"></td> #}
                            <td width="325" align="center" id="erroinfoId" class="newclass">
                                <font color="#0000FF"> 
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </font>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
            </table>
                {% endblock %}
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <p>Copyright AdminStrap, &copy; 2017</p>
</footer>

<script>
    CKEDITOR.replace( 'editor1' );
</script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
