<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

    <link rel="icon" type="image/icon" href="{{asset('img/favicon.ico') }}">
    <title>Login</title>
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
</head>
<body>
    <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
    <tr>
        <td height="61" valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="100%">
                <tbody>
                    <tr>
                        <td width="162" height="68">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="100%" background="{{ asset('logoback.gif') }}">
                                <tbody>
                                    <tr>
                                        <td align="center"> <img src="{{ asset('img/logo.gif') }}" alt="logo" border="0" style="position:relative; top:0px"> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td  valign="top">
                            <table height="61" border="0">
                                <tbody>
                                    <tr> </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td height="510" background="{{ asset('img/loginbackground.gif') }}" align="center">
            <table height="225" width="292" cellpadding="0" cellspacing="0" border="0" style="position:relative;top:-30px;">
                <tbody>
                    <tr>
                        <td>
                            <table height="225" width="405" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr>
                                        <td width="6" background="{{ asset('img/logleft.gif') }}"></td>
                                        <td width="392" background="{{ asset('img/logmid.gif') }}">
                                            <table width="83%" height="101" border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr></tr>
                                                    <tr><td height="10"></td></tr>
                                                    <tr>
                                                    {% block body %}
                                                        <form method="POST" id="myfrom" >
                                                        <td align="right"><img src="{{ asset('img/language.gif') }}" width="41" height="37"></td>
                                                        <td align="center"><label for="_username">Username</label></td>
                                                        <td align="center">
                                                        <input type="text" placeholder="Username ..." id="_username" required name="_username" value="{{ username }}" style="height:22px; width:155px; font-family:Arial;">
                                                            
                                                    </tr>
                                                    <tr><td height="10"></td></tr>
                                                    <tr>
                                                        <td align="right"><img src="{{ asset('img/password.gif') }}" width="41" height="37">
                                                            </td>
                                                            <td width="136" align="center" id="passwordId">
                                                                <label for="txt_Password">Password</label>
                                                            </td>
                                                            <td align="center">
                                                                <input placeholder="Password ..." id="txt_Password" required name="_password" type="password" style="height:22px; width:155px; font-family:Arial;">
                                                            </td>
                                                    </tr>
                                                    <tr><td></td></tr>
                                                </tbody>
                                            </table>
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tbody><tr><td height="10"></td></tr>
                                                <tr>
                                                <td width="2%"></td>
                                                <td align="center">
                                                    <label>
                                                        <input type="checkbox" value="_remember_me"> Remember me
                                                    </label>
                                                </td>
                                                {% if error %}
                                                <td width="71" height="32" align="right"><img src="{{ asset('img/sigh.gif') }}" width="25" height="20"> </td>
                                                <td width="6" align="left"></td>
                                                <td width="325" align="left" id="erroinfoId" class="newclass">
                                                <font color="#0000FF"> 
                                                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                                </font>
                                                </td>
                                                {% endif %}
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td width="7" background="{{asset('img/logright.gif')}}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr><td height="30"></td></tr>
                    <tr>
                    <td>
                        <table height="35" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-color:#efefef;">
                            <tbody>
                                <tr>
                                    <td width="50">&nbsp;  </td>
                                    <td id="loginleft" height="38" width="6" background="{{asset('img/loginitleftt.gif')}}">
                                    </td>
                                    <td id="loginmid0" width="60" align="center" background="{{asset('img/lognitmid.gif')}}">
                                        <img src="{{asset('img/login.gif')}}" width="37" height="32">
                                    </td>
                                    <td id="loginmid" width="80" align="left" background="{{asset('img/lognitmid.gif')}}">
                                        <button class="btn" type="submit">Connexion</button></td>
                                    <td id="loginright" height="38" width="6" background="{{asset('img/loginitright.gif')}}"></td>
                                    <td width="50">&nbsp;  </td>
                                    <td id="cancelleft" height="38" width="6" background="{{asset('img/loginitleftt.gif')}}"></td>
                                    <td id="cancelmid0" width="55" align="center" background="{{asset('img/lognitmid.gif')}}">
                                        <img src="{{asset('img/cancel.gif')}}" width="37" height="32">
                                    </td>
                                    <td id="cancelmid" height="38" width="75" background="{{asset('img/lognitmid.gif')}}" align="center">
                                        <a href="">Annuler</a>
                                    </td>
                                    <td id="cancelright" height="38" width="6" background="{{asset('img/loginitright.gif')}}"></td>
                                    <td width="51">&nbsp;  </td>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                </form>
                                {% endblock %}
                            </tr>
                        </tbody>
                    </table>
    </td>
    </tr>
    </tbody>
    </table>
</body>
</html>