{% extends 'base.html.twig' %}

{% block header %}
    <li><span><span><a href="{{ path('allProjects') }}">Projects</a></span></span></li>
    <li><span><span><a href="{{path('allMissions')}}">Missions</a></span></span></li>
    <li><span><span><a href="{{path('allRents')}}">Rent</a></span></span></li>
    <li><span><span><a href="{{path('allSuppliers')}}">Suppliers</a></span></span></li>
    <li><span><span><a href="{{path('allDepartments')}}">Departments</a></span></span></li>
    <li><span><span><a href="{{path('allDrivers')}}">Drivers</a></span></span></li>
    <li><span><span><a href="{{path('allVehicles')}}">Vehicles</a></span></span></li>
    <li><span><span><a href="{{path('allPayments')}}">Payments</a></span></span></li>
    {% if connectedUser.role == 1 %}
    <li class="active"><span><span><a href="{{path('allUsers')}}">Users</a></span></span></li>
    {% endif %}
{% endblock %}

{% block left_column %}
    <h3>USERS MANAGMENT</h3>
                <a href="{{ path('addUser') }}" class="link">Add user</a>
                <a href="{{ path('allUsers') }}" class="link">Show all users</a>
{% endblock %}

{% block center_column  %}
    <div class="top-bar"> <a title="Add new User" href="/user/new" class="button">ADD NEW </a>
        <h1>Contents</h1><br>
        <div class="breadcrumbs">
        {% block path %}
        <a class="path" href="/user">Users</a>
        {% endblock %}
        </div>
    </div>
    <br>
    <br>
    <div class="table"> <img src="{{ asset('img/bg-th-left.gif') }}" width="8" height="7" alt="" class="left" /> <img src="{{ asset('img/bg-th-right.gif') }}" width="7" height="7" alt="" class="right" />
        <table class="listing" cellpadding="0" cellspacing="0">
            <tr>
                <th class="first">Firstname</th>
                <th>Lastname</th>
                <th>CIN</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Gender</th>
                <th>Birthdate</th>
                <th>Country</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
            <tr class="bg">
                <td class="first">{{ user.firstname }}</td>
                <td class="first">{{ user.lastname }}</td>
                <td class="first">{{ user.cin }}</td>
                <td class="first">{{ user.email }}</td>
                <td class="first">{{ user.phoneNumber }}</td>
                <td class="first">
                {% if user.gender==1 %}Female{% else %}Male{% endif %}
                </td>
                <td class="first">{% if user.birthday %}{{ user.birthday|date('d-m-Y')}}{% endif %}</td>
                <td class="first">{{ user.country }}</td>
                <td class="first">
                {% if user.role == 1 %}Admin{% elseif user.role == 2 %}User{% endif %}
                </td>
                <td>
                <a href="{{ path('deleteUser', {'id': user.id}) }}"><img src="{{ asset('img/hr.gif') }}" width="16" height="16" title="Delete" /></a>
                <a href="{{ path('editUser', {'id': user.id}) }}"><img src="{{ asset('img/edit-icon.gif') }}" width="16" height="16" title="Edit" /></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
